<ion-view title="Login" id="page2" style="background-color:#3288B8;">
  <ion-content padding="true" class="has-header">
    <form id="login-form4" class="list">
      <ion-list id="login-list1">
        <label class="item item-input" id="login-input3">
          <span class="input-label">Phone Number or Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="login-input4">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <button id="login-button1" class="button button-dark button-block">Log in</button>
      <a href-inappbrowser="/signup" id="login-button2" class="button button-balanced button-large button-block button-clear">Create an account</a>
      <div class="spacer" style="height: 0px;"></div>
      <label class="item item-input" id="login-search3">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="help">
      </label>
      <label class="item item-input" id="login-search4">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="blockchainexplorer">
      </label>
      <label class="item item-input" id="login-search5">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="compareservices">
      </label>
      <label class="item item-input" id="login-search6">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="buy">
      </label>
    </form>
  </ion-content>
</ion-view>