<ion-view title="MyProfile" id="page4" style="background-color:#3288B8;">
  <ion-content padding="true" class="has-header">
    <ion-list id="myProfile-list3">
      <ion-item class="item-avatar" id="myProfile-list-item34">
        <img src="img/jZioIInbR1Gt49egV4D8_24e270c.jpg">
        <h2>Profile Picture</h2>
      </ion-item>
    </ion-list>
    <ion-list id="myProfile-list5">
      <ion-item class="item-icon-left dark" id="myProfile-list-item43">
        <i class="icon ion-android-contact"></i>Name</ion-item>
      <ion-item class="item-icon-left positive" id="myProfile-list-item15">
        <i class="icon ion-ios-telephone"></i>Number</ion-item>
      <ion-item class="item-icon-left assertive" id="myProfile-list-item49">
        <i class="icon ion-email"></i>Email</ion-item>
      <ion-item class="item-icon-left balanced" id="myProfile-list-item18">
        <i class="icon ion-android-contacts"></i>Users</ion-item>
      <ion-item class="item-icon-left calm" id="myProfile-list-item44">
        <i class="icon ion-card"></i>BankAccount</ion-item>
      <ion-item class="item-icon-left energized" id="myProfile-list-item45">
        <i class="icon ion-social-bitcoin"></i>CryptoAccount</ion-item>
      <ion-item class="item-icon-left" id="myProfile-list-item46">
        <i class="icon ion-ios-telephone-outline"></i>MobileNumberAccount</ion-item>
      <ion-item class="item-icon-left positive" id="myProfile-list-item47">
        <i class="icon ion-android-chat"></i>SocialMediaAccount</ion-item>
    </ion-list>
  </ion-content>
</ion-view>