<ion-view title="Payments" id="page1" style="background-color:#3288B8;">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="payments-card23">
      <ion-item class="item-avatar" id="payments-list-item7" ui-sref="myProfile()">
        <img src="img/X6tb6Z45QoiKYlnUQ0uB_24e270c.jpg">
        <h2>Hi, Noellar</h2>
      </ion-item>
      <ion-item class="item-icon-left royal" id="payments-list-item11" ui-sref="myProfile()">
        <i class="icon ion-android-checkbox"></i>Check Balance</ion-item>
      <ion-item class="item-icon-left assertive" id="payments-list-item13" ui-sref="myProfile()">
        <i class="icon ion-android-send"></i>Make Payment</ion-item>
      <ion-item class="item-icon-left positive" id="payments-list-item9" ui-sref="myProfile()">
        <i class="icon ion-android-checkmark-circle"></i>Receive Payment</ion-item>
      <ion-item class="item-icon-left balanced" id="payments-list-item8" ui-sref="myProfile()">
        <i class="icon ion-android-share"></i>Share</ion-item>
      <ion-item class="item-icon-left calm" id="payments-list-item12" ui-sref="myProfile()">
        <i class="icon ion-android-textsms"></i>Text</ion-item>
      <ion-item class="item-icon-left energized" id="payments-list-item20" ui-sref="myProfile()">
        <i class="icon ion-android-happy"></i>Camera</ion-item>
      <ion-item class="item-icon-left dark" id="payments-list-item10" ui-sref="qrCode()">
        <i class="icon ion-android-send"></i>Scan QR Code</ion-item>
    </div>
  </ion-content>
</ion-view>