<ion-view title="QrCode" id="page3" style="background-color:#3288B8;">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="qrCode-card21">
      <ion-item class="item-avatar" id="qrCode-list-item16">
        <img src="img/O8H6XlPZQcuhctp0VASQ_24e270c.jpg">
        <h2>Hi Noellar</h2>
      </ion-item>
      <div class=" item item-image">
        <img src="img/jQt1F1xbTWu9fqLsTCiI_default_qrcode.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <form id="qrCode-form6" class="list">
        <label class="item item-input" id="qrCode-search7">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="search" placeholder="yourtransactions">
        </label>
      </form>
    </div>
  </ion-content>
</ion-view>